.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  
  .backgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('landingimage.jpg') no-repeat center center;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    padding: 0 20px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
    width: 100%;
  }
  
  .searchContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .searchBar {
    background-color: #fff;
    padding: 10px; 
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
  }
 
  .input {
    border: none;
    border-radius: 0;
    font-size: 18px;
    flex: 1;
    margin-left: 5px;
    outline: none; 
  }
  
  .searchIcon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
  }
  
  .resultsContainer {
    flex: 1;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #000;
  }
  
  .scrollableResults {
    max-height: 60vh; 
    overflow-y: auto;
  }
  
  .subHeader {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .listItem {
    margin: 10px 0;
  }
  
  .link {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .backButton {
    background-color: #000;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
  }
  